body {
  font-family: Helvetica;
  background-color: #fff;
}
.app {
  display: flex;
  height: 100vh;

  .nav-bar {
    width: 10%;
    background-color: #ccc;
  }
  .channel-list {
    width: 20%;
    background-color: #eee;

    li {
      cursor: pointer;
    }
  }
  .message-list {
    width: 70%;
    background-color: #fff;
  }
}
